html, body {
    color-scheme: dark;
    background-color: #181a1b;
    scrollbar-color: #454a4d #202324;
    color: #ccc;
    overflow: hidden;
    font: 1em Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:visited {
    color: white;
}

.main-area {
    display: flex;
    flex-direction: row;
}

.flexbox {
    flex-grow: 1;
}

.button-holder {
    flex: 1;
    height: 500px;
    width: 300px;
}

#menu-button-create {
    cursor: pointer;
    height: calc(50% - 20px);
    width: 100%;
    margin-bottom: 20px;
    background-color: #484e51;
    border-color: #35393b;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    font-size: 4em;
}

#menu-button-create:active {
    border-style: ridge;
    border-right-style: solid;
    border-bottom-style: solid;
}

#menu-button-join {
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 10px;
    background-color: #484e51;
    border-color: #35393b;
    border-radius: 10px 0 0 10px;
    border-width: 5px;
    border-style: solid;
    border-right-style: none;
    font-size: 4em;
}

#menu-button-join:active {
    border-style: ridge;
    border-right-style: none;
    border-bottom-style: solid;
}

@keyframes slideWidth {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.menu-input {
    height: calc(100% - 10px);
    text-align: center;
    font-size: 2em;
    background-color: #35393b;
    border-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 5px;
    border-left-width: 0;
    border-style: solid;
    width: 0;
}

.menu-input:not(:disabled) {
    width: 100%;
    animation-duration: 1s;
    animation-name: slideWidth;
}

.menu-vertical-split {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    height: calc(50% - 20px);
}
